<h3> Listado de Heroes </h3>
<hr>



<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3> Heroe borrado
    <small class="text-danger">{{deletedHero}}</small>
  </h3>
</div>
<ng-template #nothingWasDeleted>
 <h3>No se Borro nada</h3>
</ng-template>


<ul class="mt-2 list-group">
  <li *ngFor ="let name of heroNames"
       class ="list-group-item">
      {{name}}
  </li>
</ul>
<button
  *ngIf=" heroNames.length > 0 "
  (click)="deleteHero()"
  class="btn btn-outline-danger">
  Borrar Heroe
</button>
